<h1><%= @restaurant.name %></h1> (<%= @restaurant.category %>)
<hr>
<%= @restaurant.address %> | <%= @restaurant.phone_number %>
<hr>
reviews
<hr>
<p><%= link_to "Back to Restaurants", restaurants_path %></p>
